@model Materia
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5"> @Model.Nombre</h1>
    <h2 class="display-4">@Model.Semestre</h2>
    <h3 class="display-2">@Model.Universidad</h3>
   
</div>
